

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="text-center" style="background-color: grey; color: white;">
                    <h1>Admin Area</h1>
                    <h5>Login to manage property</h5>
                    
                </div>
                <hr>
        <form action="">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Email ID</label>
                <input type="email" class="form-control" id="formGroupExampleInput"
                    placeholder="Email ID" autocomplete="off" />
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Password</label>
                <input type="password" class="form-control" id="formGroupExampleInput2"
                    placeholder="Admin Password" />
            </div>
            <button type="button" class="btn btn-primary text-center" >Login</button>
         
        </form>
        <a routerLink="/signup" style="text-decoration: none; cursor: pointer; color: blueviolet;">New User? Signup here</a>
    </div>
    </div>
    </div>
</div>